@import "variables";

* {
  margin: 0 ;
  padding: 0 ;
  text-decoration: none;
  box-sizing: border-box;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


body {
  font-family: verdana,sans-serif;
}

a {
  color: black;
}
a:hover {
  text-decoration: none;
}
.sticky {
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: white;
  width: 82%;
}
.header-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  img {
    width: 200px;
    height: 80px;
  }
}
#navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  ul{
    width: 60%;
    height: 40px;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 14px;
    a {
      color: black;
      display: inline-block;
      width: 100%;
    }

    li {
      width: 20%;
      line-height: 40px;
      position: relative;
      text-align: center;
      .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        width: 200px;
        background-color: white;
        float: left;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }
    li:hover {
      z-index: 5;
      .dropdown-content {
        text-align: left;
        display: block;
        a {
          padding-left: 15px;
        }
      }
    }
  }
  
  .header-right {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    height: 40px;
    font-size: 12px;
    .search-container {
      line-height: 40px;
      #search-input {
        height: 20px;
        border: none;
        outline: none;
      }
      .search-button {
        height: 20px;
        color: black;
        background-color: transparent;
        outline: none;
        border: none;
      }
      .search-button:hover {
        color: aquamarine;
      }
    }

    .cart-container {
      line-height: 40px;
      display: flex;
      justify-content: center;
      i {
        height: 15px;
        width: 15px;
        position: relative;
        top: 12px;
        margin-left: 20px;
      }
      .cart-content {
        display: flex;
        justify-content: center;
        cursor: pointer;
        margin-left: 10px;
        color: #a3a399;
        div {
          margin-left: 10px;
          border: solid black 2px;
          padding: 0 10px 0 10px;
          height: 28px;
          line-height: 25px;
          margin-top: 7px;
          color: black;
        }
      }
      .cart-content:hover {
        color: aquamarine;
        div {
          color: aquamarine;
        }
      }
    }

    .user-container {
      line-height: 40px;
      margin-left: 15px;
      position: relative;
      cursor: pointer;
      .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        width: 200px;
        background-color: white;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        left: -169px;
        a {
          display: block;
          color: #a3a399;
          font-size: 11px;
          padding-left: 15px;
        }
      }
    }
    .user-container:hover {
      .dropdown-content {
        display: block;
      }
    }

    .order-container {
      margin-left: 10px;
      line-height: 40px;
      i {font-size: 14px;
        color: black;
      }
    }
  }

  
}

.carousel-item img {
  height: 420px;
}

.container-products {
  width: 100%;
  margin-top: 30px;
  .container-new-products {
    margin-top: 20px;
    .title {
      cursor: context-menu;
      font-size: 22px;
      color: #8c8a8c;
    }
    .title-dot {
      cursor: context-menu;
      color: #e5e5e5;
      font-size: 22px;
    }
    .container-product-cart {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      .product-cart {
        width: 220px;
        .product-cart-contain-hover {
          z-index: 1;
          padding: 20px 5% 20px 5%;
          position: relative;
          img {
            width: 100%;
            z-index: 0;
          }
          .container-discount {
            position: absolute;
            top: 15px;
            right: 15px;
            background-color: red;
            color: white;
            font-size: 13px;
            text-align: center;
            padding: 5px;
            height: 30px;
            border-radius: 50%;
          }
          .product-hover-contain {
            display: none;
            animation-name: hover-product-cart;
            animation-duration: 0.2s;
            .link-action-product {
              background-color: white;
              display: block;
              z-index: 1;
              padding: 10px 18px 10px 18px;
              i {
                font-size: 9px;
              }
            }
            .link-action-product:hover {
              background-color: black;
              color: white;
              opacity: 0.8;
            }
          }
          
          @keyframes hover-product-cart {
            from { left: 200px }
            to { left: 10px}
          }
        }
        .product-cart-contain-hover:hover {
          background-color: #a3a399;
          opacity: 0.8;
          .product-hover-contain {
            position: absolute;
            display: flex;
            justify-content: flex-start;
            left: 15px;
            bottom: 15px;
          }
        }
        .container-product-text {
          margin: 20px 0 20px 0;
          .product-name {
            white-space: nowrap; 
            font-size: 14px;
            font-weight: bold;
            color: black;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .product-name:hover {
            color: aquamarine;
          }
          .contain-product-price {
            display: flex;
            justify-content: flex-start;
            sup {
              text-decoration: underline;
            }
            .price, .discount-price {
              font-size: 12px;
            }
            .discount-price {
              color: #a3a399;
              text-decoration: line-through;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }

  .container-feature-products {
    width: 100%;
    margin-top: 20px;
    .title {
      cursor: context-menu;
      font-size: 22px;
      color: #8c8a8c;
    }
    .title-dot {
      cursor: context-menu;
      color: #e5e5e5;
      font-size: 22px;
    }
    .container-product-cart {
      width: 100%;
      .product-cart {
        width: calc(25% - 25px);
        margin-left: 25px;
        margin-bottom: 15px;
        float: left;
        .product-cart-contain-hover {
          z-index: 1;
          padding: 20px 5% 20px 5%;
          position: relative;
          height: 350px;
          img {
            width: 90%;
            margin: 0 5% 0 5%;
            z-index: -1;
          }
          .container-discount {
            position: absolute;
            top: 15px;
            right: 15px;
            background-color: red;
            color: white;
            font-size: 13px;
            text-align: center;
            padding: 5px;
            height: 30px;
            border-radius: 50%;
          }
          .product-hover-contain {
            display: none;
            animation-name: hover-product-cart;
            animation-duration: 0.2s;
            .link-action-product {
              background-color: white;
              display: block;
              padding: 10px 18px 10px 18px;
              i {
                font-size: 9px;
              }
            }
            .link-action-product:hover {
              background-color: black;
              color: white;
              opacity: 0.8;
            }
          }
          .container-product-text {
            margin: 20px 0 20px 0;
            position: absolute;
            left: 15px;
            bottom: -5px;
            background-color: white;
            padding: 10px;
            width: calc(100% - 30px);
            .product-name {
              font-size: 14px;
              font-weight: bold;
              color: black;
              margin-bottom: 10px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .product-name:hover {
              color: aquamarine;
            }
            .contain-product-price {
              display: flex;
              justify-content: flex-start;
              sup {
                text-decoration: underline;
              }
              .price, .discount-price {
                font-size: 12px;
              }
              .discount-price {
                color: #a3a399;
                text-decoration: line-through;
                margin-left: 10px;
              }
            }
          }
        }
        .product-cart-contain-hover:hover {
          background-color: #a3a399;
          opacity: 0.8;
          .product-hover-contain {
            position: absolute;
            display: flex;
            justify-content: flex-start;
            left: 15px;
            bottom: 100px;
          }
        }
      }
      .product-cart:first-child {
        height: 715px;
        width: 50%;
        margin: 0;
        img {
          margin-top: 30px;
        }
        .product-cart-contain-hover{
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  .container-discount-products {
    width: 100%;
    float: left;
    .discount-left {
      width: 50%;
      float: left;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      .container-feature-products {
        .container-product-cart {
          .product-cart{
            width: calc(50% - 25px);
          }
          .product-cart:first-child, .product-cart:nth-child(3) {
            width: calc(50% - 25px);
            height: 350px !important;
            margin: 0;
            img {
              margin-top: 0 !important;
            }
            .product-cart-contain-hover{
              height: 100%;
              width: 100%;
            }
          }
        }
      }
    }
    .discount-right {
      width: 50%;
      float: left;
      img {
        width: 100%;
      }
    }
  }
}
.about {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-bottom: white solid 1px;
  .block {
    width: calc(100% / 3);
    height: 220px;
    text-align: center;
    padding-top: 75px;
    color: white;
    background-color: black;
    span {
      font-size: 14px;
    }
  }
  .block:nth-child(2) {
    background-color: #3f3f3f;
    color: #f4f4f4;
  }
  .block:nth-child(3) {
    background-color: #f4f4f4;
    color: black;
  }
}

.container {
  max-width: 84%;
}

.products-page-left, .products-page-right {
  float: left;
  margin: 2.5%;
  margin-top: 15px;
}
.products-page-left{
  width: 26%;
  .content-left-product-page {
    width: 100%;
    float: left;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    a { 
      color: black;
    }
    .contain-left-title {
      background-color: black;
      width: 100%;
      font-size: 15px;
      height: 50px;
      margin-bottom: 0;
      margin-bottom: 10px;
      span {
        display: flex;
        justify-content: space-between;
        color:white ;
        line-height: 50px;
        padding-left: 10px;
        .fa-plus-circle {
          cursor: pointer !important;
          margin: 18px 15px 0 0;
          display: none;
        }
      }
    }
    .contain-products-page-left {
      display: flex;
      justify-content: flex-start;
      margin: 5px 0 5px 0;
      position: relative;
      img{
        width: 35%;
      }
      .container-discount {
        position: absolute;
        left: 65px;
        background-color: red;
        width: 45px;
        color: white;
        font-size: 13px;
        text-align: center;
        padding: 5px;
        height: 30px;
        border-radius: 50%;
      }
      div{
        width: 65%;
        p, div {
          width: 100%;
          font-size: 13px;
          float: left;
          margin-bottom: 8px;
        }
        .contain-product-price {
          display: flex;
          justify-content: flex-start;
          div {
            width: 50%;
          }
          .discount-price {
            text-decoration: line-through;
            color: #ccc;
          }
        }
      }
    }
    .contain-products-page-left:hover {
      p {
        color: lightblue;
      }
    }
  }
}

.products-page-right{
  width: 64%;
  .container-top {
    display: flex;
    justify-content: space-between;
    select {
      border: none;
      font-size: 15px;
      color: #8c8a8c !important;
      padding:5px;
      option {
        font-size: 15px;
      }
    }
    button {
      outline: none;
      background-color: transparent;
      border: none;
      padding: 5px;
      cursor: pointer;
      margin-right: 5px;
    }
  }
  .container-product-cart {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
    .product-cart {
      width: 31%;
      margin: 1%;
      .product-cart-contain-hover {
        z-index: 1;
        padding: 20px 5% 20px 5%;
        position: relative;
        img {
          width: 100%;
          z-index: 0;
        }
        .container-discount {
          position: absolute;
          top: 15px;
          right: 15px;
          background-color: red;
          color: white;
          font-size: 13px;
          text-align: center;
          padding: 5px;
          height: 30px;
          border-radius: 50%;
        }
        .product-hover-contain {
          display: none;
          animation-name: hover-product-cart;
          animation-duration: 0.2s;
          .link-action-product {
            background-color: white;
            display: block;
            padding: 10px 18px 10px 18px;
            i {
              font-size: 9px;
            }
          }
          .link-action-product:hover {
            background-color: black;
            color: white;
            opacity: 0.8;
          }
        }
        
        @keyframes hover-product-cart {
          from { left: 200px }
          to { left: 10px}
        }
      }
      .product-cart-contain-hover:hover {
        background-color: #a3a399;
        opacity: 0.8;
        .product-hover-contain {
          position: absolute;
          display: flex;
          justify-content: flex-start;
          left: 15px;
          bottom: 15px;
        }
      }
      .container-product-text {
        margin: 20px 0 20px 0;
        .product-name {
          white-space: nowrap; 
            font-size: 14px;
            font-weight: bold;
            color: black;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .product-name:hover {
          color: aquamarine;
        }
        .contain-product-price {
          display: flex;
          justify-content: flex-start;
          sup {
            text-decoration: underline;
          }
          .price, .discount-price {
            font-size: 12px;
          }
          .discount-price {
            color: #a3a399;
            text-decoration: line-through;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

//detail page
.contain-detail {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  .detail-left{
    width: 40%;
    align-items: center;
    img{width: 510px; }
    .small-img-row{
      margin-top: 20px;
      display: flex;
      justify-content: baseline;
      .small-img-col{
        width: 100%;
        flex-basis: 24%;
        cursor: pointer;
        max-height: 120px;
        img {
          max-width: 60%;
        }
        img:hover {
          opacity: 0.8;
        }
      }
    }
  }
  .detail-right{
    width: 40%;
    margin-top: 50px;
    display: block;
    p, span, input, button, select { 
      float: left;
    }
    p, span {
      width: 100%;
      font-size: 20px;
    }
    span{
      font-weight: bold;
      margin-bottom: 20px;
    }
    span:nth-child(2) {
      text-decoration: line-through !important;
      color: #a3a399;
      width: 50%;
      float: left;
    }
    select{
      padding: 10px;
      margin:0 10px 20px 0;
    }
    #capacity-product {
      margin-right: 80%;
    }
    input, button{
      font-size: 15px;
    }
    input{
      padding: 15px;
      width: 110px;
      color: #aaa;
    }
    button {
      margin-left: 15px;
      width: 350px;
      padding: 16px 55px 16px 55px;
      background-color: black;
      color: white;
      font-weight: bold;
      outline: none;
      border: none;
      cursor: pointer !important;
      text-align: center;
    }
    button:hover {
      background-color: lightblue;
    }
  }
  .detail-info{
    width: 100%;
    text-align: center;
    margin-top: 100px;
    span {
      font-weight: bold;
      text-align: left;
      font-size: 40px;
    }
    img{
      max-width: 95%;
    }
  }
  .feedback {
    width: 100%;
    span {
      font-weight: bold;
      text-align: left;
      font-size: 40px;
      margin-bottom: 25px;
    }
    .fb-comments {
      width: 100%;
    }
  }
}
#message-info{
  span {
    position: absolute;
    right: 15px;
    top:7px;
    font-size: 20px;
    cursor: pointer;
  }
}
///cart-page
table{
  width: 95%;
  margin: 2.5%;
  float: left;
  th{
    color: white;
    background-color: black;
    border-left: white solid 1px;
    padding: 12px;
    font-size: 13px;
    font-weight: normal;
  }
  td {
    padding: 10px 0 10px 0;
    text-align: center;
    font-size: 13px;
    img {
      width: 80px;
    }
    input{
      padding: 8px 0 8px 15px;
      width: 65px;
    }
  }
}
.subtotal{
  float: right;
  width: 30%;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  padding-right: 25px;
  p, i, .button{
    width: 100%;
    font-size: 13px;
    text-align: right;
  }
  p{
    margin-bottom: 15px;
    b {
      font-size: 20px;
    }
  }
  .button {
    margin: 10px 0 25px 0;
    a {
      display: block;
      background-color: black;
      color: white;
      padding: 10px;
      font-weight: bold;
      width: 45%;
      float: right;
      text-align: center;
      font-size: 11px;
      margin-left: 5px;
    }
  }
}


////chechout page
.container-checkout-left {
  width: 50%;
  float: left;
  a{
    color: #39a8dc;
    b {
      font-weight: bold;
    }
    span:hover {
      text-decoration: underline;
    }
  }
  input { 
    float: left;
    margin-bottom: 10px;
  }
  #email {
    width: 60%;
  }
  #phoneNumber {
    width: 38%;
    margin-left: 2%;
  }
}
.container-checkout-right{
  width: 40%;
  float: right;
  font-size: 13px;
  border-left: 2px solid #ccc;
  button:last-child, .product-checkout, .contain, .contain-price {
    width: 80%;
    margin: 0 10%;
    float: left;
  }
  .contain, .contain-price {
    margin-top: 20px;
    padding-top: 20px;
    border-top: solid 2px #ccc;
  }
  .product-checkout{
    width: 80%;
    position: relative;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    img {
      width: 70px;
      border: #ccc 1px solid;
      border-radius: 30%;
      padding: 5px;
    }
    span {
      position: absolute;
      left: 55px;
      top: -5px;
      background-color: gray;
      opacity: 0.9;
      color: white;
      border-radius: 50%;
      font-size: 11px;
      padding: 2px 7px;
    }
    p {
      width: fit-content;
      text-align: left;
    }
  }
  .contain {
    width: 80%;
    margin: 0 10%;
    float: left;
    input:first-child {
      width: 70%;
      float: left;
    }
    button {
      width: 28%;
      margin-left: 2%;
      margin-bottom: 20px;
      float: left;
    }
  }
  .contain-price {
    margin-bottom: 20px;
    border-bottom: solid 2px #ccc;
    p {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
    }
  }
}



footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  color: white;
  background-color: black;
  font-size: 14px;
  padding: 15px 15px 20px 15px;
  .footer-left {
    img {
      height: 20px;
      width: 50px;
    }
  }
  .footer-right {
    
    margin: 0;
    padding: 0;
    a {
      padding:10px 15px 10px 15px;
      background-color: #4d4d4d;
    }
  }

}
@media only screen and (max-width: 986px){
  .container {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
  
  header {
    width: 100vw !important;
  }
  #navbar {
    flex-wrap: wrap;
    ul {
      width: 100vw;
    }
    .header-right{
      width: 100vw;
      justify-content: space-around;
    }
  }
  .products-page-left {
    width: 36%;
  }
  .products-page-right{
    width: 54%;
    .container-product-cart {
      .product-cart {
        width: 45%;
        margin: 1%;
        .product-cart-contain-hover:hover{
          .product-hover-contain {
            .link-action-product:nth-child(3) {
              display: none;
            }
          }
        }
      }
    }
  }

  .contain-detail {
    align-items: flex-start;
     .detail-left {
      width: 100vw;
      img {
        margin-left: 22%;
      }
    }
    .detail-right {
      width: 50vw;
      button {
        margin-left: 0;
      }
    }
  }
}


@media only screen and (max-width: 768px){
  
  .carousel-item img {
    max-height: 360px;
  }
  .container-products {
    .container-new-products {
      .title {
        margin-bottom: 20px;
      }
      .title-dot {
        display: none;
      }
      .container-product-cart {
        .product-cart{
          width: 50% ;
          .product-cart-contain-hover {
            .container-discount {
              padding: 10px;
              height: 40px;
            }
          }
          .product-cart-contain-hover:hover {
            .product-hover-contain {
              .link-action-product:nth-child(3) {
                display: none;
              }
            }
          }
        }
      }
    }
    .container-feature-products {
      .container-product-cart {
        .product-cart{
          width: 50% !important;
          height: auto !important;
          margin: 0;
          img {
            margin: 0 !important;
          }
          .product-cart-contain-hover {
            min-height: 425px ;
            
          }
          .product-cart-contain-hover:hover {
            .product-hover-contain {
              .link-action-product:nth-child(3) {
                display: none;
              }
            }
          }
        }
      }
    }
    .container-discount-products {
      .discount-left, .discount-right {
        width: 100%;
      }
    }
  }
  .products-page-left {
    width: 95%;
    .contain-left-title {
      span {
        .fa-plus-circle {
          display: block !important;
        }
      }
    }
    .ct-show {
      display: none;
    }
  }
  .products-page-right{
    width: 95%;
    .container-product-cart {
      .product-cart {
        width: 48%;
        margin: 1%;
      }
    }
  }

  .contain-detail {
    .detail-right {
      width: 70vw;
      button {
        margin-left: 20px;
      }
    }
  }
}



@media only screen and (max-width: 480px){
  .carousel-item img {
    height: 250px;
  }

  .container-products {
    .container-feature-products {
      .container-product-cart {
        .product-cart{
          height: 300px !important;
          min-height: 300px !important;
          .product-cart-contain-hover {
            min-height: 300px !important;
            height: 300px !important;
          }
        }
      }
    }
  }
  .discount-left .product-cart:nth-child(4) {
    position: relative;
    top: -350px;
  }
  .about {
    flex-wrap: wrap;
    .block {
      width: 100vw;
    }
  }
  .discount-left {
    height: calc(1036px - 350px) !important;
  }
  footer {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer-left, .footer-right{
    width: 100%;
  }
  .footer-left{
    margin-bottom: 20px;
  }
  
}