<div class="header-logo">
  <a href="/"><img src="/images/logo.png" alt=""></a>
</div>

<nav id="navbar">
  <ul>
    <li class="dropdown">
      <a href="/" class="dropbtn">TRANG CHỦ</a>
    </li>
    <li class="dropdown">
      <a href="/products" class="dropbtn">SẢN PHẨM</a>
    </li>
    <li class="dropdown">
      <a href="/products/search?search=iphone" class="dropbtn">IPHONE</a>
      <div class="dropdown-content">
        <a href="/products/search?search=iphone+12">iPhone 12</a>
        <a href="/products/search?search=iphone+11">iPhone 11</a>
        <a href="/products/search?search=iphone+10">iPhone 10</a>
      </div>
    </li>

    <li class="dropdown">
      <a href="/products/search?search=samsung" class="dropbtn">SAMSUNG</a>
    </li>

    <li class="dropdown">
      <a href="/products/search?search=redmi" class="dropbtn">REDMI</a>
    </li>

    <li class="dropdown">
      <a href="/products/search?search=xiaomi" class="dropbtn">XIAOMI</a>
    </li>
  </ul>

  <div class="header-right">
    <form class="search-container" action="/products/search">
      <input type="text" placeholder="Tìm kiếm..." id="search-input" name="search">
      <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
    </form>

    <div class="cart-container">
      {{#if login}}
        <i class="fa fa-shopping-cart"></i>
        <a href="/cart">
          <div class="cart-content">GIỎ HÀNG 
          {{#if cart}}
            <div class="count-item">{{cart.length}}</div> 
          {{^}}
            <div class="count-item">0</div> 
          {{/if}}
          </div>
        </a>
      {{/if}}
    </div>

    <div class="user-container">
      <i class="fas fa-user"></i>
      <div class="dropdown-content">
        {{#if login}}
          <a href="/user/logout"><i class="fas fa-user"></i> &nbsp; Đăng xuất</a>
        {{^}}
          <a href="/user/login"><i class="fas fa-user"></i> &nbsp; Đăng nhập</a>
          <a href="/user/register"><i class="fas fa-key"></i> &nbsp; Đăng ký</a>
        {{/if}}
      </div>
    </div>

    <div class="order-container">
      <a href=""><i class="fa fa-clipboard-check"></i></a>
    </div>
  </div>
</nav>

{{#if sessionFlash.message}}
      <div class="alert alert-info" id="message-info">
            {{{sessionFlash.message}}} <span onclick="close_message()">x</span>
      </div>
{{/if}}