<div class="text-center w-75" style="margin: 5%  12.5%;">
    <h2>ĐẶT HÀNG THÀNH CÔNG</h2><br><br>
    <h4>CHÚC MỪNG QUÝ KHÁCH ĐÃ ĐẶT HÀNG THÀNH CÔNG ĐƠN HÀNG</h4><br><br>

    <p>Nhân viên chăm sóc khách hàng của chúng tôi sẽ liên hệ với quý khách hàng khi đơn hàng được xác nhận. <br><br>
    Chúng tôi sẽ gửi link theo dõi đơn hàng đến Email của quý khách hàng.
    Quý khách hàng cũng có thể theo dõi đơn hàng bằng cách đăng nhập và theo dõi đơn hàng trên website của chúng tôi.</p><br><br>

    <a href="/" class="btn btn-dark">Về trang chủ</a>
</div>