
<link rel="stylesheet" type="text/css" href="/css/styles-register.css">

<div class="d-flex flex-row space-between">
    <div class="flex-grow-1"></div>
    <div class="container-register ">
        <h1>TẠO TÀI KHOẢN</h1>
        <form action="/user/register" method="POST" class="d-flex flex-column space-between">
            {{#if hasErrors}}
                <div class="alert alert-danger">
                    {{#each messages}}
                        <p>{{this}}</p>
                    {{/each}}
                </div>
            {{/if}}
            <input name="name" type="text" placeholder="Họ và tên" id="fullName">
            <input name="username" type="text" placeholder="User name" id="email">
            <input name="password" type="password" placeholder="Mật khẩu" id="password">
            <input name="phoneNumber" type="text" placeholder="Điện thoại" id="mobile">
            <input type="hidden" name="_csrf" value={{ csrfToken }}>
            <button type="submit" id="submit" class="btn-register">ĐĂNG KÝ</button>
        </form>
    </div>
    <div class="flex-grow-1"></div>
</div>
